@font-face {
  font-family: 'Alike';
  font-style: normal;
  font-weight: 400;
  src: local('Alike Regular'), local('Alike-Regular'), url(https://fonts.gstatic.com/s/alike/v10/HI_EiYEYI6BIoHjGQ5Q.woff2) format('woff2');
}
